<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input name="nombre" type="text" required [(ngModel)]="producto.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio:</ion-label>
    <ion-input [(ngModel)]="producto.precio" type="number" inputmode="numeric"></ion-input>
  </ion-item>



  <ion-button class="button" expand="full" color="dark" (click)="onUpload()">
    Guardar
  </ion-button>

  <hr>


  <ion-item *ngFor="let productos of productos">
    <ion-label>{{productos.nombre}}</ion-label>
    <ion-label>{{productos.precio}}</ion-label>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
